{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">ru</a>
        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">en</a>
    </div>

    <h1>{{ 'hello'|trans }}, {{ user.username }}!</h1>
    <p>{{ 'check'|trans }}</p>
    {% set exercisesLengt = [exercises['today']|length, exercises['one_week_ago']|length, exercises['two_weeks_ago']|length] %}

    <table border="1" cellspacing="0" cellpadding="2">
        <thead>
        <tr>
            <th>{{ 'two_week_ago'|trans }}</th>
            <th>{{ 'week_ago'|trans }}</th>
            <th>{{ 'today'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in 0..max(exercisesLengt)-1 %}
            <tr>
                <td>
                    {% if exercises['two_weeks_ago'][exercise] is defined %}
                        {{ exercises['two_weeks_ago'][exercise].description }}
                        {{ exercises['two_weeks_ago'][exercise].weight }} X
                        {{ exercises['two_weeks_ago'][exercise].weight }}
                    {% endif %}
                </td>
                <td>
                    {% if exercises['one_week_ago'][exercise] is defined %}
                        {{ exercises['one_week_ago'][exercise].description }}
                        {{ exercises['one_week_ago'][exercise].weight }} X
                        {{ exercises['one_week_ago'][exercise].weight }}
                    {% endif %}
                </td>
                <td>
                    {% if exercises['today'][exercise] is defined %}
                        {{ exercises['today'][exercise].description }}
                        {{ exercises['today'][exercise].weight }} X
                        {{ exercises['today'][exercise].weight }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('logout') }}">{{ 'logout'|trans }}</a>





{% endblock %}